
body {
   font-family: 'Roboto', sans-serif;
   background-color: #f4f7fa;
   margin: 0;
   padding: 0;
        }
header {
   background-color: #1a73e8;
   color: white;
   padding: 20px;
   text-align: center;
   outline: 3px solid black;

        }
header h1 {
   font-size: 3rem;
   margin: 0;
        }
main {
   padding: 20px;
        }
section {
   background-color: white;
   border-radius: 8px;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
   margin: 20px 0;
   padding: 20px;
        }
.bot {
   background-color: #333;
   color: white;
   text-align: center;
   padding: 15px 0;
   position: static;
   width: 100%;
   bottom: 0;
        }
.bot a {
   color: #1a73e8;
   text-decoration: none;
        }
.bot a:hover {
   text-decoration: underline;
        }
