body {
    font-family: 'Roboto', sans-serif;
    background-color: black;
    margin: 0;
    padding: 0;
 }
 header {
    background-color: #1a73e8;
    color: white;
    padding: 20px;
    text-align: center;
 }
 header h1 {
    font-size: 3rem;
    margin: 0;
 }
 main {
    padding: 20px;
 }
 .abt {
    background-color: white;
    border-radius: 8px;
    box-shadow: none;
    margin: 20px 0;
    padding: 20px;
    transition-duration: 380ms;
 }
 .abt:hover {
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.5);
    position: relative;
    margin: 25px 0px;
 }
 .bot {
    background-image: linear-gradient(black, gray, gray, gray, gray);
    color: white;
    text-align: center;
    padding: 19px 0;
    position: static;
    width: 100%;
    bottom: 0;
 }
 .bot a {
    color: #1a73e8;
    text-decoration: none;
 }
 .bot a:hover {
    text-decoration: underline;
 }
 